.header {
    box-shadow: 0 2px 0px rgba(0, 0, 0, 0.5);
    font-size: 1.3rem;
}

.header-fixed-top {

}

.header-wrapper {
    padding: 10px;
    display: inline;
    color:darkgrey;
    width: 100%;
}

.header-icon {
    font-size: 1.8rem;
    display: inline-block;
    margin-right: 20px;
}

.header-nav-container {
    display: inline;
}

li a {
    text-decoration: none;
    color: grey;
}

.header-nav-item {
    display: inline-block;
    margin: 0 15px 0 15px;
}